.about .card img{
    border: 3px solid white;
   height: 90%;
   margin-top: 30px;
   width: 55%;
   box-shadow: 7px 7px 17px rgb(111, 110, 110);
}
.card a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card a:hover{
    transform: scale(.89);
    transition: .24s;
   
}
.card a img:hover{
    border-radius: 7px;
    box-shadow: 9px 9px 17px  rgb(0, 0, 0);
}







@media only screen and (min-width: 768px){
    .about .card img{
        display: inline;
       height: 300px;
       width: 430px;
       margin-right: 10px;
    }
    .card{
        display: flex;
        flex-direction: row;
        margin-left: 95px;
        margin-top: 20px;
        margin-right: 80px;
    }
}