
.about p a{
    text-decoration: none;
    color: blue;
}
.about p a:hover{
    color: red;
}
.about p{
    margin-left: 90px;
}
.about p{
    margin-right: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card center{
    box-shadow: 10px 10px 20px gray;
    padding-right: 10px;
    padding-left: 10px;
}
.card center:hover{
    transform: scale(.89);
    transition: .54s;
    box-shadow: 5px 5px 10px rgb(100, 100, 100);
}






@media only screen and (min-width: 768px){
    .about .card img{
        display: inline;
       height: 300px;
       width: 430px;
       margin-right: 10px;
    }
    .card{
        display: flex;
        flex-direction: row;
        margin-left: 95px;
        margin-top: 20px;
        margin-right: 80px;
    }
}