.footer .footer-container{
    font-size: x-small;
    width: 100%;
    background-color: rgb(90, 90, 90);
    padding-bottom: 0px;
    padding-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-container samp{
    /* margin-left: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(118, 118, 118);
}
samp a{
    color: rgb(168, 168, 168);
    text-decoration: none;
}
samp a:hover{
    color: white;
    transition: .4s;
}
@media only screen and (min-width: 768px){
    .footer-container samp{
        display: inline;
        text-align: center;
        align-items: center;
        margin-left: 24%;
    }
    .footer{
        width: 100%;
    }
}