@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body{
    font-family: 'Caveat', cursive;
    font-family: 'Satisfy', cursive;
    font-size: large;
    word-spacing: 15px;
}
.hero .img img{ 
    border: 1px solid rgb(134, 133, 133);
    box-shadow: 2px 2px 17px rgb(90, 89, 89);
}
h2{
    font-family: 'Shadows Into Light', cursive;
    margin-top: 50px;
    margin-left: 45px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
span{
    color: crimson;
}
.hero img{
    margin-top: 130px;
    margin-left: 70px;
    z-index: -1;
    width: 140px;
    height: 140px;
    border-radius: 68px 68px;
  
}
.hero img:hover{
    /* z-index: -1; */
    transform: scale(1.5);
    transition: .26s;
    /* filter: blur(0px); */
}
.marquee{
    /* text-shadow: 4px 4px 20px black; */
    font-family: 'Lobster', cursive;
    font-size: x-large ;
    padding-top: 140px;
    margin-left: 12px;
    margin-right: 12px;
}
.p{
    line-height: 30px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    padding-left: 95px;
    padding-right: 80px;
    justify-self: center;
    align-items: center;
   text-align: left;
}
.p a{
    text-decoration: none;
    color: blue;
}
.p a:hover{
    color: crimson;
    
}
@media only screen and (min-width: 768px){
    h2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .hero img{
          filter: blur(1px);
    }
    .hero img:hover{
        /* z-index: -1; */
        transform: scale(1.5);
        transition: .26s;
        filter: blur(0px);
    }
}