.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -130px;
    margin-left: 230px;
    margin-right: 20px;
}
.intro h4{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    text-align: right;
   float: right;
}
.p samp{
    font-size: large;
}
@media only screen and (min-width: 768px) {
    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: -120px;
        margin-left: -200px;
        margin-right: 20px;
    }
}